<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>    
    <add key="app_id" value="6306702"/>
    <add key="secret_key" value="74IvuZupOmxSLDfABXB8"/>
  </appSettings>
</configuration>